@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}                          

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter/Inter-Regular.otf");
}

@font-face {
  font-family: "Matter";
  src: url("../../public/fonts/Matter/Matter-Regular.otf");
}

.p-datatable {
  border-radius: 8px;
  border: 1px solid #e3e8f2;
  /* padding: 1px; */
}

thead > tr > th {
  background-color: #f4f4f6 !important;
  border-right: 1px solid #e3e8f2 !important;
  color: #52678E !important;

}

thead > tr > th:first-child {
  border-radius: 8px 0 0 0 !important;
}

thead > tr > th:last-child {
  border-radius: 0 8px 0 0 !important;
  border-right: none !important;
}

.usertable tbody > tr:hover {
  background-color: #f4f4f6 !important;
}

tbody > tr > td {
  border-right: 1px solid #e3e8f2 !important;
}

tbody > tr > td:last-child {
  border-right: none !important;
}

td {
  border: 1px solid #e3e8f2;
}

tbody > tr:last-child > td {
  border-bottom: none !important;
}

tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 8px !important;
}

tbody > tr:last-child > td:last-child {
  border-radius: 0 0 8px 0 !important;
}

.p-datatable-footer {
  background-color: transparent !important;
  border-bottom: none !important;
  font-weight: normal !important;
}

.select-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.select-center {
  border-radius: 0 !important;
  border-left: none !important;
}

.select-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}